<div class="wrapper col4">
  <div id="container">
    <div id="content">
		

		<h1>Editing drug</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @drug %> |
		<%= link_to 'Back', drugs_path %>
    </div>
    <div class="clear"></div>
  </div>
</div>


