<div class="wrapper col4">
  <div id="container">
    <div id="content">
		<h1>Editing mutation</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @mutation %> |
		<%= link_to 'Back', mutations_path %>

    </div>
    <div class="clear"></div>
  </div>
</div>


