<div class="wrapper col4">
  <div id="container">
    <div id="content">
		<p id="notice"><%= notice %></p>
		<p>
		  <b>Code:</b>
		  <%= @mutation.codigo %>
		</p>

		<%= link_to 'Edit', edit_mutation_path(@mutation) %> |
		<%= link_to 'Back', mutations_path %>
    </div>
    <div class="clear"></div>
  </div>
</div>




