<div class="wrapper col4">
  <div id="container">
    <div id="content">
		<h1>Editing genotype</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @genotype %> |
		<%= link_to 'Back', genotypes_path %>

    </div>
    <div class="clear"></div>
  </div>
</div>


