<div class="wrapper col4">
  <div id="container">
    <div id="content">
	
<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @genotype.codigo %>
</p>


<%= link_to 'Edit', edit_genotype_path(@genotype) %> |
<%= link_to 'Back', genotypes_path %>
</div>
<div class="clear"></div>
</div>
</div>