<div class="wrapper col4">
  <div id="container">
    <div id="content">
		
		<h1>New doctor</h1>

		<%= render 'form' %>

		<%= link_to 'Back', doctors_path %>
    </div>
    <div class="clear"></div>
  </div>
</div>


