<div class="wrapper col4">
  <div id="container">
    <div id="content">
	 		<div id="geralnovoexame">
				<h1>New Exam</h1>
				
				<%= render 'form' %>

				<%= link_to 'Back', examinations_path %>
			
			</div>
    </div>
    <div class="clear"></div>
  </div>
</div>